In [1]:
print("Hello World!") # --> To print the statement written in the bracket!

Hello World!

In [2]:
# Command for importing keywords
import keyword
# Command for displaying keyword
"Total number of keywords:" , keyword.kwlist

('Total number of keywords:',
 ['False',
  'None',
  'True',
  'and',
  'as',
  'assert',
  'async',
  'await',
  'break',
  'class',
  'continue',
  'def',
  'del',
  'elif',
  'else',
  'except',
  'finally',
  'for',
  'from',
  'global',
  'if',
  'import',
  'in',
  'is',
  'lambda',
  'nonlocal',
  'not',
  'or',
  'pass',
  'raise',
  'return',
  'try',
  'while',
  'with',
  'yield'])

In [ ]:
## Comments in Python !
##
"""

"""

In [7]:
# Variables
"""
Here there is no need to define the type of the variable
"""
a = 10
b = "My Name is Neeraj"
c = 3.142

print(a)
print(b)
print(c)
type(b)  # :--> This is used to print the type of the variable

10
My Name is Neeraj
3.142

str

In [8]:
# f string printing

print(f"Printing using fString")

Printing using fString

In [10]:
# Taking input from user

# First declare a variable
name = input("Enter your name: ")  # --> This is the method used to in[ut things from the user]
print(name)

Enter your name: Neeraj
Neeraj

In [11]:
# Exercise 1
name = input("Enter your name: ")
college = input("Enter your college name: ")
age = input("What is your age?")

print(name, college, age)

Enter your nameNeeraj
Enter your college name: PICT

In [12]:
# Print Datatype
name = input("What is ur name? ")
age = int(input("Enter your age: "))

print(name, age)

What is ur name? neeraj
Enter your age: 18
neeraj 18

In [ ]:
# We cannot use special character to declare variables
d@ = 5

# We cannot start a variable with number
2name = rfiw

In [13]:
# Lists in python
"""
Make a list of 10 prime numbers
"""

l1 = [2,3,5,7,9,11,19,23,29]
print("First 10 prime numbers are: ", l1)
#OR
print(f"First 10 prime nubers are : {l1}")

First 10 prime numbers are:  [2, 3, 5, 7, 9, 11, 19, 23, 29]
First 10 prime nubers are : [2, 3, 5, 7, 9, 11, 19, 23, 29]

In [14]:
# Adding an element in the list from last i.e. To append
l1 = [1,2,3,4,5,6,7,8,9,10]

l1.append(12)
print(f"Our list is: {l1}")

Our list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [15]:
# To remove an element from the list :
l1 = [1,2,3,4,5,6,7,8,9]
l1.remove(5)
print(f"Our new list is: {l1}")

Our new list is: [1, 2, 3, 4, 6, 7, 8, 9]

In [18]:
#To change an element at a particular index
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]
print(l1[1]) # This is our index. Python is also a zero indexed method

# Now we will change an elememt from one particular index
l1[1] = 15
print(f"Our LIst : {l1}")

2
Our LIst : [1, 15, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [19]:
# Making a tuple
"""
Tuple is like the list but use curve bracket instead of square bracket
"""
t = (1,2,3,4,5)
type(t)

# Indexing in couple is just like that of an list

tuple

In [21]:
# Slicing :
"""
Syntax for slicing is:
l1 [start : end : step]
#Step corresponds to stpes taken to print the elementys of the list
In below example we take step=2 so the elements will be printed in such a manner that it will jump
two steps forward and then print the element on  which it stands
"""
"""
List of 15 prime numbers
"""
l1 = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]
#Printing first 5 prime numbers --> [0,5)
print(l1[0:5]) # This is know as slicing

# Slicing Indexing
print (l1[0::2])

# We can also concatanate these two lists to form the original list!

[2, 3, 5, 7, 11]
[2, 5, 11, 17, 23, 31, 41, 47]

In [22]:
# Dictionaries in Python
"""
Dictionary is the collection of key-value pairs
Keys are unique
Syntax is as follows :

 {key1 : value1, key2 : value2, ...}
"""
dict1 = {1:"Neeraj", 2:"Suraj", 3:"Keshav", 4:"Madhav"}
dict1[2] #Syntax to access the dictionary is :--> dict1[key]

'Suraj'

In [26]:
# Operators
x, y, m, n, p, q = 10, 20, 32, 10, 2, 8

#1. Addition
print(x+y)

#2. Floor Division :-- Gives Quotient in float
print(m//n)

#3. Exponent
print(p**q) #This is 2^8

#4. Inequalities
print(x > y) # --> This will give output as : FALSE
print(x < y) # --> This will give output as : TRUE

#5. Assignment Operators, BitWise Operators, etc..  ---> Refer to JAVA NOtes of mine
#and so on...

30
3
256
False
True

In [28]:
# Swapping two numbers
# Without using temporary variable
a, b = 10, 20
print(f"a is {a} and b is {b}")

print("By using + and -")
a = a + b
b = a - b
a = a - b
print(f"a is {a} and b is {b}")

print("By using Xor Operator")
# By using Xor Operator :
a = a^b
b = a^b
a = a^b
print(f"a is {a} and b is {b}") # Here for this code we get the original

a is 10 and b is 20
By using + and -
a is 20 and b is 10
By using Xor Operator
a is 10 and b is 20

In [30]:
# If else statements

#We will check whether a number taken input from user is even or not !!
num = int(input("Enter a number: "))

if num%2 == 0 :
  print(f"{num} is even")
else :
  print(f"{num} is not even")

# Checking even or odd by using & Operator
if num&1 == 0:
  print(f"{num} is even") # Even numbers have zero as their last bit
else :
  print(f"{num} is odd") # Odd numbers have one as their last bit

# Similarly we can use if, elif, else Statements :
# Q. Check if a number is divisible by 2 or 3 or 5

if num%2 == 0:
  print(f"{num} is divisible by two")
elif num%3 == 0:
  print(f"{num} is divisible by three")
elif num%5 == 0:
  print(f"{num} is divisible by five")
else

Enter a number: 102
102 is even
102 is even

In [31]:
# Loops
# Q. Count and store the numbers divisible by 2, 3, 5 from 1 to n
n = int(input("Enter number n: "))
c2 = 0
c3 = 0
c5 = 0
l2 = []
l3 = []
l5 = []

# For Loop
"""
Syntax :
for _variable_ in _condition_ :
  //Write here
"""

for n in range(1, n+1) :
  if n%2 ==0:
    c2 += 1
    l2.append(n)
  if n%3 ==0:
    c3+=1
    l3.append(n)
  if n%5 ==0:
    c5=+1
    l5.append(n)

print(f"Divisible by 2: {c2}")
print(f"Divisible by 3: {c3}")
print(f"Divisible by 5: {c5}")
print(f"Divisible by 2: {l2}")
print(f"Divisible by 3: {l3}")
print(f"Divisible by 5: {l5}")


# This similar loop can be written by using while loop
"""
Syntax:
while(condition) :
  //Write here
"""

Enter number n: 60
Divisible by 2: 30
Divisible by 3: 20
Divisible by 5: 1
Divisible by 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]
Divisible by 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]
Divisible by 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]